# Ransomware Group: {{ profile.name }}

#### **TLP:CLEAR**

#### Report creation date: {{ now().strftime('%Y-%m-%d') }}

## Description

{{ profile.description }}

## Victimology

First victim discovery date: {{ stats.first_discovered.strftime('%Y-%m-%d') }}

Last victim discovery date: {{ stats.last_discovered.strftime('%Y-%m-%d') }}

*Top 10 attacked countries*
| Country | Victims Count |
|:---|:---|
{% for country, count in zip(stats.countries_names, stats.countries_counts) %}
| {{ country }} | {{ count }} |
{% endfor %}

![Number of victims by country]({{ profile.figures.top_countries }})

*Victims by sector*
| Sector | Victims Count |
|:---|:---|
{% for sector, count in zip(stats.sectors_names, stats.sectors_counts) %}
| {{ sector }} | {{ count }} |
{% endfor %}

![Number of victims by sector]({{ profile.figures.victims_per_sector }})

![Cumulative victims over time]({{ profile.figures.victims_scatter }})

![Victims per month]({{ profile.figures.victims_per_month }})

## TTPs

{% for tactic in profile.ttps %}
### {{ tactic.id }} -- {{ tactic.name }}

| Technique ID | Technique Name | Technique Details |
|:---|:---|:---|
{% for technique in tactic.techniques %}
| {{ technique.id }} | {{ technique.name }} | {{ technique.details }} |
{% endfor %}

{% endfor %}
## Tools

{% for purpose, tools in profile.tools.items() %}
- **{{ purpose }}**
{% for tool in tools %}
	- {{ tool }}
{% endfor %}
{% endfor %}

## Locations

| Title | Type | URL |
|:---|:---|:---|
{% for location in profile.locations %}
| {{ location.title }} | {{ location.type }} | {{ location.slug }} |
{% endfor %}

## IoC

{% for ioc_type, iocs in profile.iocs.items() %}
### {{ ioc_type.upper() }}

{% if ioc_type in hash_types %}
| Hash | File Type | File Name |
|:---|:---|:---|
{% for ioc in iocs %}
| {{ ioc.hash }} | {{ ioc.type }} | {{ ioc.name }} |
{% endfor %}
{% else %}
{% for ioc in iocs %}
- {{ ioc }}
{% endfor %}
{% endif %}

{% endfor %}
## Ransom Notes

{% for note in profile.notes %}
*{{ note.name }}*
```
{{ note.content }}
```
{% endfor %}
